.image-gallery {
  background-color: rgba(255, 255, 255, 0.03);
  border: 2px solid #FAC67A;
  border-radius: 20px;
  padding: 2rem;

  margin: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0;


  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px rgba(250, 198, 122, 0.2);
}


.image-gallery-title {
  font-size: 2rem;
  color: #FAC67A;
  margin-bottom: 1.5rem;
}

.image-gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.image-gallery-img {

  object-fit: cover;
  border-radius: 10px;

  transition: transform 0.3s ease;
}

.image-gallery-img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .image-gallery {
    max-width: 100%;

  }
}
